body {
  font-family: Arial, sans-serif;
  background-color: #F7F7F7;
}

.patient-info {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;
  position: relative; 
}

.header {
  display: flex;
  flex-direction: column;
}

.profile-container {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start; 
}

.profile-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.patient-details {
  flex: 1;
}

.goal-box {
  margin-top: 15px; 
}

.contact-info p {
  margin: 5px 0;
  color: #2C2B2B;
}

.icon {
  margin-right: 8px;
  font-size: 16px;
  color: #2C2B2B;  
}

.progress-container {
  background-color: #012E57; 
  border-radius: 10px;
  padding: 10px; 
  width: 220px; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 auto; 
  color: white; 
}

.goal-reached {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.progress-circle {
  position: relative;
  width: 100px; 
  height: 100px;
  background: conic-gradient(#FCB000 0% 40%, #7D7D7D 40% 100%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.progress-value {
  position: absolute;
  font-size: 18px;
  color: white;
  font-weight: bold;
}

.metrics {
  display: flex;
  justify-content: space-between; 
  margin-top: 10px;
}

.metric {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.metric-label {
  font-size: 14px;
  margin-bottom: 5px;
}

.metric-chart {
  background-color: #D9D9D9;
  border-radius: 5px;
}
